<div class="card">
    <div class="card-header">
        <h4>About me</h4>
    </div>
    <div class="card-body">
        <p class="card-text">I'm <strong>Kostas</strong>, a developer residing in Athens, Greece.
            I created this web app to practice on Ruby on Rails and Bootstrap.</p>
        <p class="card-text">I have to say both are <strong>great</strong> tools i expect to use alot in future projects.</p>
        <p class="card-text">This project makes use of devise gem for user management and a Rails CRUD scaffold for the blog posts.</p>
    </div>
</div>